body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3drTTd0oqXIhPKqX2uJCHBNZID9fVCwEqsvspR1NBK9oKnF5kL7pRt4XuGiOcM4rez-I&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
#head{
 color:rgb(131, 56, 202);
 margin-bottom:10px;
}
#butn{
  background-color: rgb(46, 222, 253);
  color:blue;
  font-weight: bold;
  border-radius:25px;
}
#img{
  width:100%;
  height:500px;
}